.authForm {
    border: 1px solid #035c69;
    box-shadow: 3px 8px 15px 2px #035c69;
    padding: 10%;
    padding-left: 12%;
    margin: 0 auto;
    margin-top: 5%;
}
strong{
    font-weight: bolder;
    font-size: 1.5em;
}
.form-control{
    border: 1px solid #035c69;
}
.loading {
    text-align: center;
}